BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE JTAG_PORT=DISABLE ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "XEN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "xdac[0]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "xdac[1]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "xdac[2]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "xdac[3]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "xdac[4]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "RCK" PULLMODE=NONE IO_TYPE=LVCMOS18 ;
IOBUF PORT "SDO" PULLMODE=NONE IO_TYPE=LVCMOS18 ;
FREQUENCY NET "FCK" 10.000000 MHz ;
FREQUENCY NET "RCK_c" 0.032000 MHz ;
BLOCK RD_DURING_WR_PATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK JITTER ;
FREQUENCY NET "CK" 5.000000 MHz ;
IOBUF PORT "RP" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "RP" SITE "9" ;
LOCATE COMP "SDO" SITE "8" ;
LOCATE COMP "RCK" SITE "17" ;
LOCATE COMP "LV" SITE "27" ;
LOCATE COMP "XEN" SITE "5" ;
LOCATE COMP "TP" SITE "28" ;
LOCATE COMP "SCL" SITE "16" ;
LOCATE COMP "LED" SITE "4" ;
LOCATE COMP "SCK" SITE "13" ;
LOCATE COMP "DC" SITE "23" ;
LOCATE COMP "MSR" SITE "10" ;
LOCATE COMP "NADC1" SITE "12" ;
LOCATE COMP "NADC2" SITE "20" ;
LOCATE COMP "NADC3" SITE "11" ;
LOCATE COMP "NADC4" SITE "21" ;
LOCATE COMP "xdac[4]" SITE "25" ;
LOCATE COMP "xdac[3]" SITE "29" ;
LOCATE COMP "xdac[2]" SITE "32" ;
LOCATE COMP "xdac[1]" SITE "30" ;
LOCATE COMP "xdac[0]" SITE "1" ;
IOBUF PORT "LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MSR" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "NADC3" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "NADC1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "NADC2" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "NADC4" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DC" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "LV" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "TP" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
