BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE JTAG_PORT=DISABLE ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "XEN" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[1]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[2]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[3]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[4]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "RCK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SDO" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "NCS" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
USE DOUT TRUE CELL "xdac_1_0io[1]" ;
FREQUENCY NET "FCK" 10.000000 MHz ;
FREQUENCY NET "RCK_c" 0.032000 MHz ;
BLOCK RD_DURING_WR_PATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK JITTER ;
IOBUF PORT "TP3" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "TP4" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
FREQUENCY NET "CK" 5.000000 MHz ;
FREQUENCY NET "Fast_CK/RIN" 100.000000 MHz ;
IOBUF PORT "OND" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "ONL" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
PRIORITIZE NET "Fast_CK/ANB1" 100 ;
PRIORITIZE NET "Fast_CK/ANB2" 100 ;
PRIORITIZE NET "Fast_CK/ANB3" 100 ;
PRIORITIZE NET "Fast_CK/CO0" 100 ;
PRIORITIZE NET "Fast_CK/R1" 100 ;
PRIORITIZE NET "Fast_CK/R2" 100 ;
PRIORITIZE NET "Fast_CK/R3" 100 ;
PRIORITIZE NET "Fast_CK/R4" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[2]" 100 ;
IOBUF PORT "RP" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
